@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap'); 


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

html,body {
  font-family: "Ubuntu";

}


.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas {
  width: 100%;
  height: 100%;
}

p, h1, section,span,svg,button{
  transition: background-color 0.8s, color 0.5s;
}

:root {
  --white: #e7e2d5;
  --black: #242424;
 
  /* Light theme */
    --primary-color: #b6862c;
  --secondary-color: rgb(120, 78, 145);
}



.theme-light{
  --color-text: var(--black);
  --color-background: var(--white);
}

.theme-dark{
  --color-text: var(--white);
  --color-background: #3e4277;
  --primary-color: var(--white);
}


/* Page -------------------------------------------------------------*/

.page {
  z-index: 9999;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* visibility: hidden; */

  
}

.page-wrapper {
  color: var(--color-text);
  position: relative;
}

/* Toggle -------------------------------------------------------------*/
.toggle-bar {

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 48px;
  right: 48px;
  z-index: 99999;
  opacity: 0;
  color: var(--primary-color);

}

.toggle-button {
  cursor: pointer;
  position: relative;
  width: 56px;
  height: 28px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin: 0px 8px;
  border: none;
  color: var(--primary-color);
  background-color: currentColor;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.toggle-circle {
  position: absolute;
  left: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-background);
  transition: all 0.2s ease-in-out;
}

.toggle-button:hover .toggle-circle{
  transform: scale(0.9);
}


.slide{

  left:31px;
}

.sun-wrapper,
.moon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
 

}

/* Hero -------------------------------------------------------------*/


.hero {
  width: 100vw;
  height: 100vh;

}

.hero-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 1500px;
}

.hero-main {
  position: absolute;
  top: 15%;
  left: 0;

}

.hero-main-title {
  font-size: 64px;
  /* color: var(--color-text); */
}

.hero-main-description {
  font-size: 18px;
}

.hero-second {
  position: absolute;
  bottom: 20%;
  right: 15%;
}

.hero-second-subheading {
  font-size: 18px;
  text-transform: uppercase;

}

/* Progress bars */
.progress-wrapper{
  height: 0;
  width: 12px;
  z-index: 9999;
}

.progress-bar-wrapper-left{
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar-wrapper-right{
  position: absolute;
  top: 0;
  right: 0;
}

.progress-bar{
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);
  transform-origin: top center;
  transform: scaleY(1);
}

/* Section Formating -------------------------------------------------------------*/
.section-margin {
  height: 1100px;
  width: 100%;
}

.section {
  position:relative;
  width: 50%;
  padding: 1000px 4%;
  margin: 0;
  background-color: var(--color-background);
  overflow: hidden;
}

.left {
  margin-right: auto;
  border-top-right-radius: 700px 700px;
  border-bottom-right-radius: 0px 0px;
}

.right {
  margin-left: auto;
  border-top-left-radius: 700px 700px;
  border-bottom-left-radius: 0px 0px;
}

.section-intro-wrapper {
  position: relative;
  padding: 20% 5%;
  color: var(--primary-color);
  border-bottom: 2px solid currentColor;
  padding-bottom: 400px;
}

.section-detail-wrapper {
  position: relative;
  padding: 20% 5%;
}

.section-heading {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.8;
  margin-top: 64px;
}

.section-text {
  line-height: 1.8;
  margin-top: 18px;
  font-size: 24px;

}

/* Title Decorations -----------------------------------------------------------------*/

.section-title {
  position: relative;
}

.section-title-text {
  display: block;
  font-size: 40px;
  transform-origin: left;
  padding-left: 30px;
  transform: skewY(25deg);
  z-index: 10;
  text-transform: uppercase;
}

.styleOne,
.styleTwo,
.styleThree {
  position: absolute;
  display: block;
  width: 100%;
  height: 60px;
  max-width: 278px;
  z-index: 0;
  border: 1px solid;
  transform-origin: left;


  transform: skewY(25deg);

}

.styleOne {
  top: 0px;
  transform: skewY(-25deg);

}

.styleTwo {
  top: 80px;
  background-color: currentColor;
}

.styleThree {
  top: 80px;
  transform: skewY(-25deg);

}

.section-number {
  position: absolute;
  bottom: 15px;
  right: 0;
  color: var(--primary-color);
  font-size: 18px;
}



@media (max-width: 968px) {
  .section{
    width:100%;
  }

  .progress-bar-wrapper-left{
    left:auto;
    right: 0;
  }
}

/* Preloader */

.animatedis{
  display: inline-block;
  transform: translateY(100%); 
}

.intro-text{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-text);
  transform: translate(-50%, -50%);
}

/* Preloader */
.preloader{
  background-color: var(--color-background-light);
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 1;
  z-index: 99999999999999999;
}

.preloader-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px;
  background-color: var(--primary-color);
  animation: load 1s ease-in-out  infinite;
}

.circle:nth-child(2){
  animation-delay: 0.1s;
}

.circle:nth-child(3){
  animation-delay: 0.2s;
}

@keyframes load {
  0% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-12px)
  }

  40% {
    transform: translateY(0)
  }
  
}


.hidden{
  visibility: hidden;
}